#temp, object, and executable files
*.swp
*.o
tacticalCommand

#YouCompleteMe vim plugin
.ycm*

#GIMP ignores
*.xcf

#visual studio ignores
Release
Debug
*.sln
*.v11.suo
*.vcxproj
*.vcxproj.*
